build --cxxopt=-std=c++14
build --cxxopt=-Wall
build --cxxopt=-Wextra
build --cxxopt=-Wpedantic
build --cxxopt=-Werror

build:release --compilation_mode=opt # -O2 -DNDEBUG
build:release --strip=always

build:debug --compilation_mode=dbg # -g
build:debug --cxxopt=-O0
build:debug --strip=never
